<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>acceuil</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>

	<header>
		<nav>
			
			<ul>
				<li><a>Home</a>
					<ul>
						<li><a>Home</a></li>
						<li><a>Price</a></li>
						<li><a>Agenda</a></li>
						<li><a>Contact</a></li>
					</ul>

				</li>
				<li><a>Price</a>
					<ul>
						<li><a>Home</a></li>
						<li><a>Price</a></li>
						<li><a>Agenda</a></li>
						<li><a>Contact</a></li>
					</ul>

				</li>
				</li>
				<li><a>Agenda</a></li>
				<li><a>Contact</a></li>
			</ul>
		</nav>
	</header>

	<body>

	</body>
	</html>