<!DOCTYPE html>
<html>
	<head>
	     <meta charset="UTF-8">
	     <link rel="stylesheet" href='bootstrap.min.css'>
	     <title>Cour sur le Vocabulaire de l'anglais</title>
	</head>
	<body>
		<style>
        .lien_menu
        {
            color: black
        }
        .container
        {
            color: grey;
        }
        mark
        {
            color: grey;
        }
        </style>
		<nav class='container'>
			<nav class="container">
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		            <div class="container">
		            	<img src="images/mon_logo.jpg" height='50' widht='25'>
		                <h2 style="color: white;"> Elliot_ze_boss </h2>
		                <a class="lien_menu" href="le_tuto_entier.html"><mark>le_tuto_entier.html</mark></a>
                         <a class="lien_menu" href="Grammaire.html"><mark>Cour grammaire anglais</mark></a>   
                         <a class="lien_menu" href="index.html"><mark>Menu</mark></a>
		            </div>
        		</nav>
			    <h1>Cours d'anglais</h1>
			    <br>
			    <h2>vocabulaire</h2> 
			    <p>Voici un cour sur les verbes irreguliers</p>
			    <br>
		        <table>	   
				    <tr>
				    	<th>infinitif</th>
				    	<th>prétérit</th>
				    	<th>Participe Passé</th>
				    	<th>Traduction</th>
				    </tr>
				    <tr>
				    	<td>be</td>
				    	<td>was</td>
				    	<td>been</td>
				    	<td>être</td>
				    </tr>
				    <tr>
				    	<td>beat</td>
				    	<td>beat</td>
				    	<td>beaten</td>
				    	<td>battre</td>
				    </tr>
				    <tr>
				    	<td>become</td>
				    	<td>became</td>
				    	<td>become</td>
				    	<td>devenir</td>
				    </tr>
				    <tr>
				    	<td>begin</td>
				    	<td>began</td>
				    	<td>begun</td>
				    	<td>commencer</td>
				    </tr>
				    <tr>
				    	<td>bet</td>
				    	<td>bet</td>
				    	<td>bet</td>
				    	<td>parier</td>
				    </tr>
			        <tr>
				    	<td>bite</td>
				    	<td>bit</td>
				    	<td>bitten</td>
				    	<td>mordre</td>
				    </tr>
				    <tr>
				    	<td>bleed</td>
				    	<td>bled</td>
				    	<td>bled</td>
				    	<td>saigner</td>
				    </tr>
				    <tr>
				    	<td>blow</td>
				    	<td>blew</td>
				    	<td>blown</td>
				    	<td>souffler</td>
				    </tr>
				     <tr>
				    	<td>break</td>
				    	<td>broke</td>
				    	<td>broken</td>
				    	<td>casser</td>
				    </tr>
				    <tr>
				    	<td>bring</td>
				    	<td>brought</td>
				    	<td>brought</td>
				    	<td>apporter</td>
				    </tr>
				    <tr>
				    	<td>build</td>
				    	<td>built</td>
				    	<td>built</td>
				    	<td>construire</td>
				    </tr>
				    <tr>
				    	<td>burn</td>
				    	<td>burnt</td>
				    	<td>burnt</td>
				    	<td>brûler</td>
				    </tr>
				    
				     <tr>
				    	<td>bing</td>
				    	<td>bought</td>
				    	<td>bought</td>
				    	<td>acheter</td>
				    </tr>
				    <tr>
				    	<td>catch</td>
				    	<td>caught</td>
				    	<td>caught</td>
				    	<td>attraper</td>
				    </tr>
				    <tr>
				    	<td>choose</td>
				    	<td>chose</td>
				    	<td>chosen</td>
				    	<td>choisir</td>
				    </tr>
				    <tr>
				    	<td>come</td>
				    	<td>came</td>
				    	<td>come</td>
				    	<td>venir</td>
				    </tr>
				    <tr>
				    	<td>cost</td>
				    	<td>cost</td>
				    	<td>cost</td>
				    	<td>coûter</td>
				    </tr>
				    <tr>
				    	<td>cut</td>
				    	<td>cut</td>
				    	<td>cut</td>
				    	<td>couper</td>
				    </tr>
				    <tr>
				    	<td>do</td>
				    	<td>did</td>
				    	<td>done</td>
				    	<td>faire</td>
				    </tr>
				    <tr>
				    	<td>dream</td>
				    	<td>dreamt</td>
				    	<td>dreamt</td>
				    	<td>rêver</td>
				    </tr>
				    <tr>
				    	<td>drink</td>
				    	<td>drank</td>
				    	<td>drunk</td>
				    	<td>boire</td>
				    </tr>
				    <tr>
				    	<td>drive</td>
				    	<td>drove</td>
				    	<td>driven</td>
				    	<td>conduire</td>
				    </tr>
				    <tr>
				    	<td>eat</td>
				    	<td>ate</td>
				    	<td>eaten</td>
				    	<td>manger</td>
				    </tr>
				    <tr>
				    	<td>fall</td>
				    	<td>fell</td>
				    	<td>fallen</td>
				    	<td>tomber</td>
				    </tr>
				    <tr>
				    	<td>feed</td>
				    	<td>fed</td>
				    	<td>fed</td>
				    	<td>nourir</td>
				    </tr>
				    <tr>
				    	<td>feel</td>
				    	<td>felt</td>
				    	<td>felt</td>
				    	<td>sentir(toucher)</td>				   
				    </tr>
				    <tr>
				    	<td>fight</td>
				    	<td>fought</td>
				    	<td>fought</td>
				    	<td>se battre</td>
				    </tr>
				    <tr>
				    	<td>find</td>
				    	<td>found</td>
				    	<td>found</td>
				    	<td>trouver</td>
				    </tr>
				    <tr>
				    	<td>fly</td>
				    	<td>flew</td>
				    	<td>flown</td>
				    	<td>vloer(oiseau)</td>				   
				    </tr>
				    <tr>
				    	<td>forbid</td>
				    	<td>forbade</td>
				    	<td>forbidden</td>
				    	<td>interdir</td>
				    </tr>
				    <tr>
				    	<td>forget</td>
				    	<td>forgot</td>
				    	<td>forgotten</td>
				    	<td>oublier</td>
				    </tr>
				    <tr>
				    	<td>forgive</td>
				    	<td>forgave</td>
				    	<td>forgiven</td>
				    	<td>pardonner</td>
				    </tr>
				    <tr>
				    	<td>freeze</td>
				    	<td>froze</td>
				    	<td>frozen</td>
				    	<td>geler</td>
				    </tr>
				    <tr>
				    	<td>get</td>
				    	<td>got</td>
				    	<td>got</td>
				    	<td>obtenir</td>
				    </tr>
				    <tr>
				    	<td>give</td>
				    	<td>gave</td>
				    	<td>given</td>
				    	<td>donner</td>
				    </tr>
				    <tr>
				    	<td>go</td>
				    	<td>want</td>
				    	<td>gone</td>
				    	<td>aller</td>
				    </tr>
				    <tr>
				    	<td>grow</td>
				    	<td>grew</td>
				    	<td>grown</td>
				    	<td>croître</td>
				    </tr>
				    <tr>
				    	<td>have</td>
				    	<td>had</td>
				    	<td>had</td>
				    	<td>avoir</td>
				    </tr>
				    <tr>
				    	<td>hear</td>
				    	<td>heard</td>
				    	<td>heard</td>
				    	<td>entendre</td>
				    </tr>
				    <tr>
				    	<td>hide</td>
				    	<td>hid</td>
				    	<td>hidden</td>
				    	<td>cacher</td>
				    </tr>
				</table>




				<h2>exercice</h2>
				<form method="post" action="traitement.php">
				   <p><input type="text" name="pseudo" /></p>
				</form>
			</nav>
		</nav>
    </body>
<html>